.nav-wrapper {
  border-radius: 0 !important;
}

.post {
  display: flex;
  font-size: 14px;
}

.main-container {
  border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.main-container:nth-of-type(even) {
    transform: translateX(-400%);
}

.main-container.show {
    transform: translateX(0);
}
